.select {
    position: relative;
    min-width: 225px;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.select-button {
    width: 100%;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    align-items: center;
    padding-left: 12.5px;
    padding-right: 22.5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(25, 25, 25);
    color: white;
    transition: 0.1s;
}

.select-button:hover {
    background-color: rgb(55, 55, 55);
}

.select-options {
    position: absolute;
    min-width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    flex-direction: column;
    row-gap: 5px;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(-25px);
    pointer-events: none;
    z-index: 10;
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.select-option {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 12.5px;
    transition: 0.1s;
}

.select-option:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.select-option:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.select-option:hover {
    background-color:rgb(55, 55, 55);
}

.select-option:focus {
    background-color:rgb(55, 55, 55);
    outline: none;
}

.select-arrow {
    display: inline-flex;
    padding: 0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    width: 5px;
    transition: 0.2s;
    font-size: 17.5px;
    transform: rotate(-90deg);
}

.turn {
    transform: rotate(90deg)
}

.active {
    background-color: rgb(55, 55, 55);
}